<html>
    <head>
        <title>My Shopping List</title>
        <script src="angular.min.js"></script>
        <script src="app.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>

    	<div ng-app="myShoppingList" ng-controller="myCtrl">
    	    <ul>
    	        <li ng-repeat="i in products"> 
    	           {{i}}
    	           <span ng-click="removeItem($index)">&times;</span>
    	        </li>
    	    </ul>
    	    <input ng-model="addMe">
            <button ng-click="addItem()">Add</button>
    	</div>

    </body>
</html>